.dropdown_values {
  padding: 5px;
  width: 11vw;
  border-radius: 10px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_select {
  border: none;
  outline: none;
  background-color: pink;
  padding: 10px;
}

option {
  font-weight: 900;
}
