.Column-sc-1ul9eki-0 {
    min-width: unset !important;
    min-height: unset !important;
}

.Column-sc-1ul9eki-0 {
    height: auto !important;
}

.Dialog__Modal-sc-c8nkza-3>div {
    min-width: auto !important;
}