.pages {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
}
.containers {
  background-color: #012243;
  width: 50%;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 40%;
  top: 55%;
  right: 50%;
  border-radius: 20px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  color: white;
}

.containers-light {
  background-color: #ffffff;
  color: black;
}

.forms {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 30px;
  margin-bottom: 50px;
}
.rows-check {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
  grid-gap: 0% 0%;
}
.one {
  width: 150%;
}
.two {
  width: 20%;
  background-color: gray;
}
label {
  font-size: larger;
  font-weight: bolder;
}

.inputs {
  width: 100%;
  font-weight: 600;
  font-size: larger;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #232323;
  margin-top: 5px;
  height: 90%;
  background-color: #001428;
  color: white;
}
.inputs-light {
  width: 100%;
  font-weight: 400;
  font-size: larger;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  height: 90%;
  background-color: white;
  color: black;
}

.inputs:focus {
  outline: none;
  border-color: #6f6df4;
}

.form-controlss {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.inputs-check {
  width: 20%;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #232323;
  margin-top: 5px;
  margin-left: 70%;
  height: 50%;
  background-color: #001428;
  color: white;
}

.inputs-check-light {
  width: 20%;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  margin-left: 70%;
  height: 50%;
  background-color: white;
  color: #001428;
}

.buttons {
  justify-content: center;
  margin-left: 30%;
  height: auto;
}

.buttonss {
  border: 2px solid;
  padding: 25px 20px;
  width: 50%;
  background-color: #63cce0;
  color: #ffffff;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.buttonss-disabled {
  border: 2px solid;
  padding: 25px 20px;
  width: 50%;
  background-color: rgb(156, 178, 193);
  color: #ffffff;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}
