.pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 5%;
  overflow-x: hidden;

}
.token__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: larger;
  color: white;
}
.token-header-light {
  color: black;
}
.containers {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-color: #012243;
  padding: 35px 50px;
  border-radius: 20px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  width: 50%;
  color: white;
  justify-content: space-around;
}

.containers-light {
  background-color: #ffffff;
  color: black;
}

.forms {
  display: flex;
  position: relative;
  margin: 30px auto 0 auto;
  flex-direction: column;
}
.rows {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 30px;
  margin-bottom: 50px;
  flex-direction: column;
}
.rows-check {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
  grid-gap: 0% 0%;
}
.one {
  width: 150%;
}
.two {
  width: 20%;
  background-color: gray;
}
label {
  font-size: larger;
  font-weight: bolder;
}

.inputs {
  width: 100%;
  font-weight: 600;
  font-size: larger;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #232323;
  margin-top: 5px;
  height: 90%;
  background-color: #001428;
  color: white;
}
.inputs-light {
  width: 100%;
  font-weight: 400;
  font-size: larger;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  height: 90%;
  background-color: white;
  color: black;
}

.inputs:focus {
  outline: none;
  border-color: #6f6df4;
}

.form-controlss {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.inputs-check {
  width: 20%;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #232323;
  margin-top: 5px;
  margin-left: 70%;
  height: 50%;
  background-color: #001428;
  color: white;
}

.inputs-check-light {
  width: 20%;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
  margin-left: 70%;
  height: 50%;
  background-color: white;
  color: #001428;
}

.buttons {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;

  height: auto;
}

.buttonss {
  flex: 1;
  width: 100%;
  display: flex;
  border: 2px solid;
  padding: 25px 20px;
  background-color: #63cce0;
  color: #ffffff;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.buttonssss-disabled {
  border: 2px solid;
  padding: 25px 20px;
  flex: 1;
  width: 100%;
  display: flex;
  background-color: rgb(156, 178, 193);
  color: #ffffff;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .inputs {
    width: 60%;
    margin-right: 5%;
    height: 50%;
  }
  .inputs-light {
    width: 60%;
    margin-right: 5%;
    height: 50%;
  }
  
  .inputs-check {
width: 100%;
margin-left: 0%;
margin-top: 3%;
margin-bottom: 25%;
  }

 .column{
  margin-bottom: -5%;
  }
  .columnss {
    font-size: large;
  }
  .forms{
    font-size: medium;
  }

 .containers h1{
font-size: x-large;
 } 
 .column label{
  font-size: medium;
 }
 .containers{
  z-index: -1;
 }

}
