table {

  overflow-x: scroll;
  
}
/* Zebra striping */
tbody{
  overflow:scroll;
}
.th {
  background: #001428;
  color: white;
  font-weight: bold;
}
.th-light {
  background: white;
  color: black;
  font-weight: bold;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.table-containerss {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-color: #012243;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  width:40%;
  margin-top: 10%;
  color: white; 
  justify-content: space-around;

}

.table-containerss-light {
  background-color: #ffffff;
  color: black;
}

.scrollit {
  overflow:scroll;
  height:100%;
}
/* 
@media only screen and (max-width: 600px) {

  .table-containers{
    margin-top: 130%;
  }
  }
  @media only screen and (max-width: 400px) {

    .table-containers{
      margin-top: 280%;
    }
    }

@media only screen and (max-width: 800px) {

  .table-containers{
    margin-top: 100%;
  }
  }

  @media only screen and (max-width: 1200px) {

    .table-containers{
      margin-top: 60%;
    }
    }
    @media only screen and (max-width: 2200px) {

      .table-containers{
        margin-top: 30%;
      }
      } */