






.addliquidity_description_title {
  color: rgb(203, 201, 201);
}

.description_description {
  font-weight: normal;
  font-size: 15px;
}

.span {
  color: #009aff;
  font-weight: bold;
  text-decoration: underline;
}

.span:hover {
  cursor: pointer;
}

.no_overlay {
  display: hide;
}

.overlay {
  display: flex;
  position: absolute !important;
  background-color: #009aff;
  color: white;
  padding: 15px;
  border-radius: 15px;
}

.overlay:hover {
  cursor: pointer;
}

.inside_toggle-none {
  padding: 20px;
  width: 100%;
  filter: blur(5px);
  opacity: 0.8;
}

.inside_toggle {
  padding: 20px;
  width: 100%;
}

.addliquidity_weth_bal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addliquidity_weth_bal > p {
  color: white;
}

.addliquidity_weth_bal--light > p {
  color: rgb(108, 107, 107);
}

.deposit_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.deposit_tab-disable {
  pointer-events: none;
}

.weth_deposit_amount {
  flex: 2;
  display: flex;
  background-color: #001428;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin-right: 3px;
}

.weth_deposit_amount--light {
  background-color: rgb(231, 240, 247);
}

.weth_bal_input {
  background-color: #001428;
  border: none;
  color: white;
  padding: 5px;
}

.weth_bal_input--light {
  color: black;
  background-color: rgb(231, 240, 247);
}

.all_weth_tokens {
  font-size: 12px;
  background-color: #043b71;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  color: white;
  width: fit-content;
}

.all_weth_tokens--light {
  color: white;
  background-color: #61cddf;
}

.all_weth_tokens:hover {
  cursor: pointer;
}

.deposit_zap_button {
  background-color: rgb(89, 179, 247);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: fit-content;
  margin-left: 20px;
}

.deposit_zap_button--light {
  background-color: #61cddf;
  color: white;
}

.deposit_zap_button:hover {
  cursor: pointer;
}

.deposit_zap_button-disable {
  pointer-events: none;
}

.deposit_zap1_button_disable {
  background-color: rgb(156, 178, 193);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: fit-content;
  margin-left: 20px;
}

.deposit_zap1_button_disable--light {
  background-color: rgb(156, 178, 193);
  color: white;
}

.deposit_zap1_button_disable:hover {
  cursor: not-allowed;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.arrow {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--light {
  color: black;
}

.arrow:hover {
  cursor: pointer;
}

.details_description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.details_description_container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.apr_container {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apr_percent_container {
  display: flex;
}

.base_apr {
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-right: 5px;
}

.base_apr--light {
  color: black;
}

.base_percent {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.base_percent--light {
  color: black;
}

.hover {
  color: white;
}

.hover--light {
  color: black;
}

.hover:hover + .hide {
  display: block;
  color: white;
  border: 1px solid #043b71;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  z-index: 100;
  position: absolute;
  margin-top: -50px;
  background-color: #032a51;
}

.hover--light:hover + .hide--light {
  background-color: white;
  color: black;
  border: 1px solid lightblue;
}

.hide {
  display: none;
}

.deposit_spinner {
  position: fixed;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0 0 0 / 19%);
  top: 10%;
  border-radius: 10px;
  right: 20px;
  height: 130px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #032a51;
  color: white;
}

.deposit_spinner--light {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  color: black;
}

.deposit_spinner_bottom {
  display: flex;
  height: 40px;
  width: 100%;
  border-top: 1px solid rgb(218, 216, 216);
  justify-content: space-evenly;
  align-items: center;
}

.deposit_spinner_bottom_left{
  flex:1;
  text-align:center;
}

.deposit_spinner_bottom_left:hover{
  cursor: pointer;
}

.deposit_spinner_bottom_left > p{
  border-right: 1px solid rgb(129, 126, 126);
}

.deposit_spinner_bottom_right{
  flex: 1; 
  text-align:center;
}

.deposit_spinner_bottom_right:hover{
  cursor: pointer;
}

.spinner_description {
  margin-left: 20px;
  word-wrap: break-word;
  width: 350px;
}

.deposit_spinner_bottom:hover {
  cursor: pointer;
}

.deposit_spinner_top {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
}

.deposit_spinner-left {
  margin-top: 20px;
  margin-left: 10px;
}

.deposit_spinner_right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
}

.deposit_second {
  margin-top: 0;
  max-width: 80%;
  font-size: 13px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deposit_deposits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit_all {
  text-decoration: underline;
  margin-top: 5px;
}

.deposit_all:hover {
  cursor: pointer;
}

input {
  outline: none;
}

.deposit_max:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  

  .addliquidity_description_title {
    font-size: 15px;
    font-weight: 750px;
  }

  .description_description {
    font-size: 13px;
  }

  .inside_toggle {
    padding: 5px;
  }

  .addliquidity_weth_bal > p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .deposit_tab {
    display: flex;
    flex-direction: column;
  }

  .weth_deposit_amount {
    width: 100%;
  }

  .deposit_deposits {
    margin-top: 10px;
  }

  .deposit_zap1_button_disable {
    width: 100%;
  }

  .deposit_zap_button {
    width: 100%;
  }
}
