@import "src/styles/_mixins.scss";
@import "src/styles/variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    color: #fff;
    gap: 20px;

    @include devices(desktop) {
        grid-template-columns: 1fr;
        padding: 16px;
    }
    @include devices(mobile) {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
.container_light {
    color: #000;
}

.inputContainer {
    border: 0.5px solid $border-color;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    @include devices(tablet) {
        grid-template-columns: 1fr;
        padding: 8px;
    }
}
.inputContainer_light{
    border: 1px solid rgb(210, 232, 239);
}

.inputWrapper {
    background-color: $background-dark;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    & input {
        background-color: transparent;
        border: none;
        color: white;
        padding: 5px;
        outline: none;
        width: 100%;
    }
}
.inputWrapper_light{
    background-color: rgb(231, 240, 247);
    & input {
        color: #000;
    }
}
.maxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.maxBtn {
    cursor: pointer;
    font-weight: bold;
}
.select {
    width: 120px;
}
.select_light {
    background: #fff;
    color: black;
    box-shadow: none;
    border-right: 14px solid transparent;
    option {
        background-color: #fff;
    }
}