@import "../../../styles/_mixins.scss";
@import "../../../styles/variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    color: $color-white;
    gap: 20px;

    @include devices(desktop) {
        grid-template-columns: 1fr;
        padding: 16px;
    }
    @include devices(mobile) {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
.container_light {
    color: $color-black;
}

.description {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include devices(desktop) {
        justify-content: center;
        & > div {
            text-align: center;
        }
    }

    & a {
        color: $color_primary;
    }
}


.inputContainer {
    border: 0.5px solid $border-color;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    @include devices(tablet) {
        grid-template-columns: 1fr;
        padding: 8px;
    }
}
.inputContainer_light{
    border: 1px solid $border-color-light;
}

.inputWrapper {
    background-color: $background-primary;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    & input {
        background-color: transparent;
        border: none;
        color: white;
        padding: 5px;
        outline: none;
        width: 100%;
    }
}
.inputWrapper_light{
    background-color: rgb(231, 240, 247);
    & input {
        color: $color-black;
    }
}
.maxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.maxBtn {
    cursor: pointer;
    font-weight: bold;
}
.select {
    width: 120px;
}
.select_light {
    background: $color-white;
    color: black;
    box-shadow: none;
    border-right: 14px solid transparent;
    option {
        background-color: $color-white;
    }
}