.farmslip {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px;
}

.farmslip_header {
    display: flex;
    width: 100%;
    gap: 3rem;
    align-items: center;
}

.farmslip_header > p {
    font-size: 34px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.farmslip_header--light > p {
    font-size: 34px;
    font-weight: bold;
    color: black;
}

.type_heading {
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--color_grey);
    text-align: center;
    padding: 12px;
}

.farm__title {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.farmslip_table_header,
.farmslip_table_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 24px;
    gap: 20px;
    padding: 20px 26px;
    text-align: center;
}

.farmslip_table_row {
    min-height: 10vh;
    position: relative;
}

.farmslip_table_header {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

.farmslip_table_header_light {
    color: black;
}

.farmslip_table_pool {
    background-color: #012243;
    border-radius: 20px;
    margin-bottom: 7px;
}

.farmslip_table_pool:hover {
    background-color: #032a51;
    cursor: pointer;
}

.farmslip_table_pool_light {
    background-color: white;
}

.farmslip_table_pool_light:hover {
    background-color: white;
    cursor: pointer;
}

.depositContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.deposit {
    display: flex;
    gap: 10px;
}

.deposit p {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.logoUSDC {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 500px) {
    .logoUSDC {
        width: 20px;
        height: 20px;
    }

    .depositContainer {
        gap: 5px;
    }

    .deposit p {
        font-size: 10px;
    }
}
