@import "../../../styles/_mixins.scss";

.container {
    padding: 50px 120px 50px 58px;
    @include devices(tablet) {
        width: initial;
    }
    @include devices(mobile) {
        padding: 50px 58px;
    }
}

.heading {
    & h1 {
        margin: 0px;
        margin-bottom: 20px;
    }
}
.caption {
    font-size: large;
    font-weight: bold;
    margin: 0px;
}
.key {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--color_grey);
    margin-bottom: 20px;
    .copyIcon {
        cursor: pointer;
        color: inherit;
    }
    & p {
        max-width: 377px;
        width: -webkit-fill-available;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
    }
}
.qrCode {
    text-align: center;
    border: 12px solid var(--color_primary);
    border-radius: 12px;
    padding: 12px;
    box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.15);
}
