.button{
    width: 100px;
    width: 100px;
    padding: 7px;
    background-color: #001428;
    color: rgb(151, 151, 151);
    font-weight: bold;
    margin-bottom:7px;
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button--light{
    color: rgb(233, 235, 236);
    background-color: #68b4c9;
}

.button--selected{
    color:white;
    background-color: #000c18;
}

.button--selected--light{
    color:white;
    background-color: #7cc4eb;
}

.button:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button:hover {
    cursor: pointer;
}

