@import "../../styles/mixins";

.container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 30px;
    padding: 10px 16px;
    width: calc(100% - 92px);
    @include devices(xlMobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    @include devices(mobile) {
        font-size: 14px;
    }
}

.container > p {
    margin: 0px;
}

.heading {
    min-width: 100px;
}

.link {
    color: var(--color_primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 30px);
    }
}

.icon {
    color: var(--color_primary);
    cursor: pointer;
    margin-left: 8px;
}
