@import "../../styles/mixins";

.container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 30px;
    padding: 10px 16px;
    max-width: calc(100% - 92px);
    @include devices(mobile) {
        font-size: 14px;
    }
}

.container > p {
    margin: 0px;
}

.heading {
    min-width: 100px;
    display: block;
    @include devices(xlMobile) {
        display: none;
    }
}

.heading2 {
    min-width: 30px;
    display: none;
    @include devices(xlMobile) {
        display: block;
    }
    @include devices(mobile) {
        min-width: 26px;
    }
}

.link {
    color: var(--color_primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 298px;
    @include devices(xlMobile) {
        width: 200px;
    }
    @include devices(mobile) {
        width: 120px;
    }
    .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 24px);
        @include devices(mobile) {
            max-width: calc(100% - 22px);
        }
    }
}

.icon {
    color: var(--color_primary);
    cursor: pointer;
    margin-left: 8px;
}
