.from__input {
  display: flex;
  background-color: #001428;
  color: white;
  height: 60px;
  padding: 5px;
  border-radius: 15px;
}
.form-control {
  background-color: #001428;
  color: white;
}
.form-control--light {
  background-color: white;
  color: black;
}
.from__input--light {
  background-color: white;
  color: black;
}

.token_title {
  color: white;
  font-weight: light;
}
.token_title--light {
  color: black;
  font-weight: light;
}