.topbar_placement {
  display: flex;
  align-items: center;
  padding-right: 30px;
  position: fixed;
  right: 0;
}

.connect_wallet {
  background-color: rgb(89, 179, 247);
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  justify-content: center;
  width: fit-content;
  border-radius: 15px;
}

.connect_wallet:hover {
  cursor: pointer;
  background-color: #009aff;
}

.connect_wallet2 {
  display: flex;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  justify-content: center;
  width: fit-content;
  border-radius: 15px;
}

.connect_wallet2--light {
  color: black;
}

.connected_wallet_address {
  font-weight: bold;
  color: white;
  display: flex;
  width: fit-content;
  justify-content: center;
}

.connected_wallet_address--light {
  color: black;
}

.wallet_address > p {
  margin-left: 30px;
}

.wallet_address--light {
  color: black;
}

.ethBal {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  color: #009aff;
  background-color: #032a51;
  border-radius: 20px;
}

.wrongNetwork {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  color: #f55858;
  background-color: #ffdcdc;
  border-radius: 20px;
}

.ethBal--light {
  color: #009aff;
  background-color: #dcf2ff;
}

.wrongNetwork--light {
  color: #f55858;
  background-color: #ffdcdc;
}

.connected_wallet {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  background-color: #012243;
  border: 1px solid #032a51;
}

.connected_wallet > p {
  margin-right: 5px;
}

.connected_wallet:hover {
  background-color: #032a51;
  cursor: pointer;
}

.connected_wallet--light {
  background-color: rgb(246, 246, 246);
  border: 1px solid #d9d9d9;
}

.connected_wallet--light:hover {
  background-color: white;
}

.wallet {
  font-size: 30px;
}

.address {
  font-weight: 400;
}

.hamburger_menu {
  display: none;
}

.topbar_menu {
  display: none;
}

.burger-icon {
  margin: 5px 0;
}

.dropdown_hamburger_menu {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 200px;
  padding: 10% 5%;
  padding-left: 15%;
  border: 0.5px solid #8798ad;
  background-color: #012243;
  z-index: 999 !important;
}

.dropdown_hamburger_menu--light {
  background-color: white;
  border: 0.5px solid black;
}

.dropdown_hamburger_menu > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.dropdown_hamburger_menu > a:hover {
  text-decoration: underline;
}

.dropdown_hamburger_menu--light > a {
  color: black;
}

@media (max-width: 768px) {
  .topbar_placement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .topbar_menu {
    display: revert;
    font-size: 50px;
    color: white;
    top: 20px;
    left: 20px;
    position: fixed;
    z-index: 1000;
  }

  .topbar_menu--light {
    color: black;
  }

  .topbar_menu:hover {
    cursor: pointer;
  }

  .connect_wallet {
    top: 20px;
    right: 20px;
    position: fixed;
  }
  .connect_wallet2 {
    top: 20px;
    right: 20px;
    position: fixed;
  }
  .connected_wallet_address {
    align-items: right;
    font-weight: bold;
    display: flex;
    width: fit-content;
    right: 0;
    margin: 0;
  }

  .connected_wallet {
    padding-left: 5px;
    padding-right: 1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
}

@media (max-height: 480px) {
  .dropdown_hamburger_menu {
    overflow: scroll;
  }

  .dropdown_hamburger_menu > a {
    font-size: 15px;
    margin: 0;
  }
}
