.topbar_placement {
  display: flex;
  align-items: center;
  padding-right: 50px;
  position: fixed;
  right: 0;
}

.connect_wallet {
  background-color: rgb(89, 179, 247);
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  justify-content: center;
  width: fit-content;
  border-radius: 15px;
}

.connect_wallet:hover {
  cursor: pointer;
  background-color: #009aff;
}

.wallet_address {
  align-items: center;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
}

.wallet_address > p {
  margin-left: 30px;
}

.wallet_address--light {
  color: black;
}

.ethBal {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  color: #009aff;
  background-color: #032a51;
  border-radius: 20px;
}

.wrongNetwork {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  color: #f55858;
  background-color: #ffdcdc;
  border-radius: 20px;
}

.ethBal--light {
  color: #009aff;
  background-color: #dcf2ff;
}

.wrongNetwork--light {
  color: #f55858;
  background-color: #ffdcdc;
}

.connected_wallet {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  background-color: #012243;
  border: 1px solid #032a51;
}

.connected_wallet > p {
  margin-right: 5px;
}

.connected_wallet:hover {
  background-color: #032a51;
  cursor: pointer;
}

.connected_wallet--light {
  background-color: rgb(246, 246, 246);
  border: 1px solid #d9d9d9;
}

.connected_wallet--light:hover {
  background-color: white;
}

.wallet {
  font-size: 30px;
}

.address {
  font-weight: 400;
}

.hamburger_menu {
  display:none;
}

.topbar_menu{
  display:none;
}

.dropdown_hamburger_menu {
  display:flex;
  flex-direction: column; 
  text-align:center;
  align-items:center;
  justify-content:center;
  width: 100vw;
  height: 100vh;
  background-color: #012243;
  z-index:999;
}

.dropdown_hamburger_menu--light {
  background-color:white;
}

.dropdown_hamburger_menu > a {
  font-size: 20px;
  color:white;
}

.dropdown_hamburger_menu > a:hover {
  font-size: 25px;
}

.dropdown_hamburger_menu--light > a {
  color:black;
}


@media (max-width: 768px) {
  .topbar_placement{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding-top:10px;
    padding-right: 20px;
    padding-left:20px;
  }

  .topbar_menu {
    display:revert;
    font-size:50px;
    color:white;
    top: 20px;
    left: 20px;
    position: fixed;
    z-index:1000;
  }

  .topbar_menu--light{
    color:black;
  }

  .topbar_menu:hover{
    cursor: pointer;
  }

  .connect_wallet{
    top: 20px; 
    right: 20px; 
    position: fixed;
  }


}