.confirm_page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.confirm_modal{
  display: flex;
  flex-direction: column;
  z-index: 200;
  background-color: #012243;
  width: 60%;
  height: 40%;
  border-radius: 15px;
  position: relative;
  animation: animate 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.confirm_modal--light{
  background-color: white;
}


.confirmation_header {
  display: flex;
  padding: 20px;
}

.confirm_title{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.confirm_title--light{
  color:black;
}

.confirmation_close{
  position: absolute;
  right: 2vh; 
  color:white;
  font-size:20px;
}

.confirmation_close:hover{
  cursor: pointer;
}

.confirmation_close--light{
  color:black;
}

.confirmation_logo_container{
  display: flex;
  margin-bottom: 5px;
}

.confirmation_logo{
  width: 40px;
  height: 40px;
  margin-right: -10px;
  border-radius: 999px;
}

.confirmation_block{
  display: flex;
  flex-direction: column;
  padding: 3vh;
  align-items: center;
  justify-content:center;
}

.transaction_details{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color:white;
}

.transaction_details--light{
  color:black;
}

.transaction_value {
  margin:0;
  font-weight:700;
}

.transaction_usd{
  margin:0;
  font-weight:700;
}

.confirm_arrow{
  color:white;
  padding: 20px;
  font-weight: 800;
}

.confirm_arrow--light{
  color:black;
}

.confirm_retrieve{
  font-size: 20px;
  color:white;
}

.confirm_retrieve--light{
  color:black;
}

.confirmation_button{
  position: absolute;
  bottom: 5vh; 
  width: 90%;
  height: 50px;
  display:flex;
  justify-content:center;
}

.button_container{
  display: flex;
  margin:10px;
  background-color: rgb(89, 179, 247); 
  height:100%;
  width:100%;
  align-items: center;
  justify-content: center;
  color:white;
  font-weight: 700;
  border-radius: 10px;
}

.button_container:hover{
  cursor:pointer;
  background-color:rgb(67, 161, 233);
}