.tvl-container {
    width: 100%;
    display: flex;
}

.tvl-image {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    align-self: center;
}

.tvl-title {
    font-size: 17px;
    /* font-weight: 700; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.tvl-value {
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}
