@import "../../styles/variables";
@import "../../styles/mixins";

.table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;
    border: 1px solid var(--color_primary);
    font-size: 16px;
}

.tableRow {
    height: 50px;

    &:nth-child(even) {
        background-color: #63cce011;
    }
}

.tableData {
    padding: 8px 24px;
    width: 50%;
    max-width: 50%;
    height: inherit;
    box-sizing: border-box;

    @include devices(mobile) {
        padding: 8px 12px;
    }
}

.tableHeader {
    background-color: var(--color_primary);
    color: var(--color_white);
    font-weight: 700;

    .columnHeading {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .transitionDelay {
            transition-duration: 0.3s;
        }
        .rotate {
            transform: rotate(-180deg);
        }
    }
}

.tableBody {
    color: var(--color_grey);
}

.tableFooter {
    background-color: var(--color_primary);
    color: var(--color_white);

    & > tr {
        height: 36px;
    }

    .onlyMobile {
        display: none;
        @include devices(mobile) {
            display: block;
        }
    }
    .onlyDesktop {
        display: block;
        @include devices(mobile) {
            display: none;
        }
    }
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    input {
        padding: 2px 4px;
        border-radius: 4px;
        border: none;
        outline: none;
        width: 100px;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    box-sizing: border-box;
    height: inherit;
    width: 100%;
    min-width: 100%;
    font-size: 14px;

    .pageChangeArrow {
        cursor: pointer;
    }
}

.addressCol {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 100%;
    width: 100%;
}

.addressText {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arbiscanIcon {
    cursor: pointer;
}

.emptyTable {
    background-color: var(--background_secondary);
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color_primary);

    .disclaimer {
        font-size: 20px;
    }

    .message {
        margin: 12px 0px;
        color: var(--color_grey);
    }

    .button {
        min-width: initial;
        min-height: initial;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 768px) {
    .addressText {
        width: 140px;
    }
    .table {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .addressText {
        width: 80px;
    }
    .table {
        font-size: 14px;
    }
}
