.confirm_page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.confirm_modal {
  display: flex;
  flex-direction: column;
  z-index: 200;
  background-color: #012243;
  width: 60%;
  height: 50%;
  border-radius: 15px;
  position: relative;
  animation: animate 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.confirm_modal--light {
  background-color: white;
}

.confirmation_header {
  display: flex;
  padding: 20px;
}

.confirm_title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.confirm_title--light {
  color: black;
}

.confirmation_close {
  position: absolute;
  right: 2vh;
  color: white;
  font-size: 20px;
}

.confirmation_close:hover {
  cursor: pointer;
}

.confirmation_close--light {
  color: black;
}

.confirmation_logo_container {
  display: flex;
  margin-bottom: 5px;
}

.confirmation_logo {
  width: 40px;
  height: 40px;
  margin-right: -10px;
  border-radius: 999px;
}

.confirmation_block {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  align-items: center;
  justify-content: center;
}

.transaction_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: white;
}

.transaction_details--light {
  color: black;
}

.transaction_value {
  margin: 0;
  font-weight: 700;
}

.transaction_usd {
  margin: 0;
  font-weight: 700;
}

.confirm_arrow {
  color: white;
  padding: 20px;
  font-weight: 800;
}

.confirm_arrow--light {
  color: black;
}

.confirm_retrieve {
  font-size: 20px;
  color: white;
}

.confirm_retrieve--light {
  color: black;
}

.confirmation_button {
  position: absolute;
  bottom: 4vh;
  padding-top: 2%;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.button_container {
  display: flex;
  margin: 10px;
  padding-top: 1%;
  background-color: rgb(89, 179, 247);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}

.button_container:hover {
  cursor: pointer;
  background-color: rgb(67, 161, 233);
}

@media (max-width: 560px) { 
  .confirm_modal{
    width:80vw;
  }

}

@media (max-width: 420px) { 
  .confirm_title{
    font-size:15px;
  }

  .confirmation_logo{
    width: 25px;
    height: 25px;
  }

  .confirmation_header{
    padding:7px;
  }

}

@media (max-width: 360px) { 
  .transaction_value{
    font-size:13px;
    font-weight: 600;
  }

  .transaction_usd {
    font-size:13px;
    font-weight: 600;
  }
  
}

@media (max-height: 760px) { 
  .confirm_modal{
    height:60vh;
  }
}

@media (max-height: 700px) { 
  .confirmation_button {
    position: relative;
    bottom: 2px;
    padding-top: 5px;
    width: 90%;
    height: fit-content;
  
  }

  .button_container {
    margin: 5px;
    padding-top: 1%;
    height: fit-content;
    width: 100%;
    font-weight: 700;
  }
}

@media (max-height: 700px) {
  .confirmation_block{
    padding: 5px;
  }

  .confirm_arrow{
    padding:5px;
  }
}

@media (max-height: 490px) {
  .confirmation_logo{
    width:25px;
    height:25px;
  }

  .transaction_value{
    font-size:13px;
    font-weight: 600;
  }

  .transaction_usd {
    font-size:13px;
    font-weight: 600;
  }

  .confirm_title{
    font-size:15px;
  }

  .button_container{
    font-weight:600;
    margin: 2px;
    padding-top: 0;;
  }
}