.vault_item {
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: var(--background_secondary);
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 18px #030d16;
  transition: transform 0.2s;
}

.vault_item--light {
  box-shadow: 2px 2px 18px lightgrey;
}

.vault_item_images {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.vault_item:hover {
  transform: scale(1.05);
}

.vault_item--light {
  color: var(--color_black);
  background-color: var(--color_white);
}

.vault_item_logo1 {
  width: 60px;
  height: 60px;
  border-radius: 999px;
}

.vault_item_logo2 {
  width: 60px;
  height: 60px;
  margin-left: -5px;
  margin-right: 10px;
  border-radius: 999px;
}

.vault_item_name {
  font-size: 17px;
  font-weight: 700;
}

.vault_items_bottom_header {
  display: flex;
  flex-direction: column;
}

.vault_items_bottom_row {
  display: flex;
  width: 100%;
  margin: 10px;
}

.vault_items_bottom_categories {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vault_items_bottom_categories > p {
  margin: 0;
}

.vault_items_title {
  font-size: 15px;
  color: var(--color_grey);
}

.vault_rewards {
  width: 30px;
  height: 30px;
}

.vault_rewards_images {
  display: flex;
}
