.page {
  background-color: #001428;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: fixed;
}

.modal-content {
  z-index: 9999999999f !important;
}

.page--light {
  background-color: #f5f6fa;
  width: 100vw;
  height: 100vh;
}

.ac_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 2;
}

.rightside {
  flex: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.rightside > p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.rightside--light > p {
  color: #009aff;
}

.topbar {
  margin-bottom: 50px;
}
