@import "src/styles/variables.scss";

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tokenCard{
    max-width: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 18px;
    color: $color-white;
    background-color: $background-secondary;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    & p {
        margin: 2px 0px;
    }
}
.tokenCard:hover{
    border-color: $color_primary;
    grid-template-columns: max-content 1fr max-content max-content;
    position: relative;
    padding-right: 40px;

    &::after{
        content: '>';
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color_primary;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        font-size: 20px;
        font-weight: 900;
    }
}
.tokenCardLight{
    background-color: $color-white;
    color: $color-black;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

.tokenLogo{
    width: 35px;
    height: 35px;
}

.name{
    font-size: 16px;
    font-weight: 600;
}
.networkName{
    font-size: 12px;
    font-weight: 400;
    margin-left: 4px;
    color: $color_primary;
}
.balance {
    font-size: 12px;
    font-weight: 400;
}
.usdBalance{
    margin-left: auto;
    font-weight: 500;
}
