
.th {
  background: #001428;
  color: white;
  font-weight: bold;
}
.th-light {
  background: white;
  color: black;
  font-weight: bold;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.table-containers {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-color: #012243;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  width: auto;
  margin-top: 10%;
  color: white;
  justify-content: space-around;
}

.table-containers-light {
  background-color: #ffffff;
  color: black;
}



@media only screen and (max-width: 600px) {
  .scrollit {
    overflow: scroll;
    height: 100%;
  }
  table {
    overflow-x: scroll;
  }
  /* Zebra striping */
  tbody {
    overflow: scroll;
  }

.th {
  background: #001428;
  color: white;
  font-weight: medium;
}
.th-light {
  background: white;
  color: black;
  font-weight: bold;
}
td,
th {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: left;
}
.table-containers{
  width: 50%;
}
}  