.switch {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 30px;
}

.first_switch {
  color: white;
  font-weight: bold;
}

.first_switch--light {
  color: #009dff;
}

.second_switch {
  color: rgb(97, 97, 97);
  font-weight: bold;
}

.second_switch--light {
  color: rgb(97, 97, 97);
  font-weight: bold;
}

.second_switch--selected--light {
  color: #009dff;
  font-weight: bold;
}

.switch>.second_switch--selected--light {
  color: #009dff;
  font-weight: bold;
}

.first_switch--selected {
  color: rgb(97, 97, 97);
}

.first_switch--selected--light {
  color: rgb(97, 97, 97);
}

.second_switch--selected {
  color: white;
}

.toggle_button--light {
  background-color: white;
  float: left;
  border-radius: 999px;
  width: 10px;
  height: 10px;
  padding: 10px;
}

.toggle_container:hover {
  cursor: pointer;
}

.toggle_button {
  background-color: white;
  float: left;
  border-radius: 999px;
  width: 10px;
  height: 10px;
  padding: 10px;
}

.toggle_button--selected {
  background-color: rgb(21, 188, 21);
  float: right;
  border-radius: 999px;
  width: 10px;
  height: 10px;
  padding: 10px;
}

.toggle_button--selected--light {
  background-color: white;
  float: right;
  border-radius: 999px;
  width: 10px;
  height: 10px;
  padding: 10px;
}

.toggle_container {
  background-color: #001428;
  padding: 3px;
  width: 63px;
  border-radius: 20px;
  margin: 10px;
  margin-left: 10px;
  transition: 0.3s ease-in 0s;
}

.toggle_container--light {
  background-color: #8798ad;
}

.toggle_container--selected {
  background-color: white;
  padding: 3px;
  width: 63px;
  border-radius: 20px;
  margin: 10px;
  margin-left: 10px;
  transition: 0.3s ease-in 0s;
}

.toggle_container--selected--light {
  background-color: rgb(21, 188, 21);
  padding: 3px;
  width: 63px;
  border-radius: 20px;
  margin: 10px;
  margin-left: 10px;
  transition: 0.3s ease-in 0s;
}