.slippageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slippageIndividual {
    display: flex;
    gap: 30%;
    align-items: center;
    width: 100%;
}

.titleContainerSlippage {
    display: flex;
    align-items: center;
    text-align: left;
    flex: auto;
    width: 100%;
}
