.pools {
  width: 100%;
  height: 100%;
  background-color: #012243;
  border-radius: 20px;
  margin-bottom: 7px;
}

.pools--light {
  background-color: white;
}

.pools:hover {
  background-color: #032a51;
  cursor: pointer;
}

.pools--light:hover {
  background-color: white;
  cursor: pointer;
}

.single_pool {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.row_items {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.title_container {
  display: flex;
  flex: 2;
  align-items: center;
}

.pair {
  display: flex;
}

.pool_title {
  margin-left: 10px;
  line-height: 0px;
}

.logofirst {
  width: 60px;
  height: 60px;
  margin-right: -10px;

}

.logo {
  width: 60px;
  height: 60px;
}

.rewards_div {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 15px;
  color: white;
  font-size: 21px;
  align-self: center;
}

.dropdown--light {
  color: black;
}

.rewards_image {
  width: 15px;
  border-radius: 999px;
  border: 1px solid black;
  background-color: black;
}

.pool_name {
  white-space: nowrap;
  font-size: 15px;
  font-weight: bold;
  color: rgb(237, 232, 232);
}

.pool_name__apy {
  font-size: 17px;
  font-weight: 700;
  color: rgb(237, 232, 232);
  margin-left: 10px;
}

.pool_name__apy--light {
  color: black;
}

.pool_name--light {
  color: black;
}

.tvlLP {
  color: lightgrey;
  font-size: 13px;
  font-weight: 600;
}

.tvlLP--light {
  color: #8798ad;
}

.farm_type {
  color: white;
  font-size: 13px;
  margin-right: 5px;
}

.farm_type--light {
  color: black;
}

.pool_info {
  display: flex;
  flex: 5;
  justify-content: space-evenly;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__apy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rewards {
  width: 15px;
}

.dropdown_menu {
  cursor: default;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #043b71;
}

.dropdown_menu--light {
  border-top: 1px solid rgb(210, 232, 239);
}

.drop_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.see_details_dropdown{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color:white;
}

.see_details_dropdown:hover{
  cursor: pointer;
}

.see_details_dropdown--light{
  color:black;
}

.see_details_description{
  color:white;
  font-size:17px;
  font-weight:600;
  margin-right:5px;
}

.see_details_description--light{
  color:black;
}