.pools {
  width: 100%;
  height: 100%;
  background-color: #012243;
  border-radius: 20px;
  margin-bottom: 7px;
}

.pools--light {
  background-color: white;
}

.pools:hover {
  background-color: #032a51;
  cursor: pointer;
}

.pools--light:hover {
  background-color: white;
  cursor: pointer;
}

.single_pool {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.row_items {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.title_container {
  display: flex;
  flex: 2;
  align-items: center;
}

.pair {
  display: flex;
}

.pool_title {
  margin-left: 10px;
  line-height: 0px;
}

.logofirst {
  width: 60px;
  height: 60px;
  margin-right: -10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.rewards_div {
  display: flex;
  align-items: center;
}

.dropdown {
  width: 15px;
  color: white;
  font-size: 21px;
  align-self: center;
}

.dropdown--light {
  color: black;
}

.rewards_image {
  width: 15px;
  border-radius: 999px;
  border: 1px solid black;
  background-color: black;
}

.pool_name {
  white-space: nowrap;
  font-size: 17px;
  font-weight: bold;
  color: rgb(237, 232, 232);
}

.pool_name__apy {
  font-size: 17px;
  font-weight: 700;
  color: rgb(237, 232, 232);
}

.pool_name__apy--light {
  color: black;
}

.pool_name--light {
  color: black;
}

.tvlLP {
  color: lightgrey;
  font-size: 15px;
  font-weight: 600;
}

.tvlLP--light {
  color: #8798ad;
}

.farm_type {
  color: white;
  font-size: 13px;
  margin-right: 5px;
}

.farm_type--light {
  color: black;
}

.pool_info {
  display: flex;
  flex: 6;
  justify-content: space-around;
}

.container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__apy {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rewards {
  width: 15px;
}

.dropdown_menu {
  cursor: default;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #043b71;
}

.dropdown_menu--light {
  border-top: 1px solid rgb(210, 232, 239);
}

.drop_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.see_details_dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: white;
}

.see_details_dropdown:hover {
  cursor: pointer;
}

.see_details_dropdown--light {
  color: black;
}

.see_details_description {
  color: white;
  font-size: 17px;
  font-weight: 600;
  margin-right: 5px;
}

.see_details_description--light {
  color: black;
}

.container1 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_rewards {
  width: 20px;
  height: 20px;
}

.reward_apy {
  color: lightgrey;
  font-size: 15px;
  font-weight: 600;
}

.reward_apy--light {
  color: #8798ad;
}

.container1_apy {
  display: flex;
  align-items: center;
}

.apy_info {
  color: rgb(237, 232, 232);
  font-size: 15px;
  margin-left: 5px;
}

.apy_info--light {
  color: black;
}

.overlay_apy {
  position: relative;
}

.apy_hidden {
  position: absolute;
  display: none;
}

.apy_info:hover + .apy_hidden {
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: #032a51;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: white;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
}

.apy_info:hover + .apy_hidden > p {
  margin: 0;
  font-size: 0.9rem;
  color: white;
  background-color: #032a51;
  padding: 3px;
}

.apy_info:hover + .apy_hidden--light {
  display: flex;
  background-color: white;
  color: black;
}

.apy_info:hover + .apy_hidden--light > p {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .apy_info:hover + .apy_hidden{
    right:0;
  }

  .pools {
    overflow: scroll;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .logofirst {
    width: 20px;
    height: 20px;
    margin-right: -5px;
  }

  .title_container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .pool_name {
    font-size: 11px;
    font-weight: 800;
  }

  .farm_type {
    font-size: 10px;
  }

  .row_items {
    padding: 10px;
  }

  .tvlLP {
    font-size: 11px;
    margin-top: 0;
  }

  .pool_name__apy {
    font-size: 11px;
  }

  .see_details_description {
    font-size: 15px;
  }

  .rewards_image {
    width: 10px;
  }
}

@media (max-width: 650px) {
  .apy_info {
    margin-left: 0px;
  }

  .apy_info:hover + .apy_hidden{
    right:0;
  }

  .pool_name {
    margin-bottom: 2px;
    max-width: 80px;
  }
  .tvlLP {
    margin: 0;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container {
    max-width: 100px;
  }

  .container1 {
    max-width: 100px;
  }

  .container__apy {
    max-width: 100px;
  }
}
