:root {
  /* ///// Background Colors ///// */
  --background_primary: #001428;
  --background_secondary: #012243;
  --background_secondary-hover: #032a51;
  --background_dark: #000c18;
  --background_light: #8798ad46;
  
  /* ///// Colors ///// */
  --color_primary: #009aff;
  --color_grey: #979797;
  --color_white: #ffffff;
  --color_black: #000000;
  
  /* ///// Border Colors ///// */
  --border_color: #043b71;
  --border_color_light: #d2e8ef;
}